<ion-card class="blog-thumbnail">
  <ion-grid>
    <ion-row>
      <ion-col size="4" *ngIf="post.media_url">
        <ion-img class="ion-shadow" [src]="post.media_url"></ion-img>
      </ion-col>
      <ion-col [size]="post.media_url ? 8 : ''">
        <ion-item lines="none">
          <ion-label color="primary">
            <h1 (click)="viewPost(post)" [innerHTML]="post.title.rendered"></h1>
            <p class="color-medium italic">
              <ion-icon name="time-outline"></ion-icon> {{ post.date_gmt | date }}
              <ion-badge color="medium" *ngFor="let category of post.categories">{{category}}</ion-badge>
            </p>
            <ion-buttons >
              <ion-button fill="solid" size="small" color="secondary" (click)="viewPost(post)">
                READ MORE
              </ion-button>
              <ion-button fill="solid" size="small" color="secondary">
                LISTEN NOW
              </ion-button>
            </ion-buttons>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>

<!-- <ion-card *ngFor="let post of posts">
    <ion-card-header>
      <ion-card-title [innerHTML]="post.title.rendered"></ion-card-title>
      <ion-card-subtitle>{{ post.date_gmt | date }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <img [src]="post.media_url">
      <div [innerHTML]="post.excerpt.rendered"></div>
      <ion-button expand="full" fill="clear" [routerLink]="['/home/', 'blog', post.id]" text-right>Read More...</ion-button>
    </ion-card-content>
  </ion-card> -->