<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title>CALENDAR</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="today()">Today</ion-button>
      <ion-button icon-only small (click)="showCalendarOptions()">
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <a (click)="addEventModal()">New Event</a> -->

 
  <ion-row>
    <!-- Change the displayed calendar mode -->
    <!-- <ion-col size="4">
      <ion-button small expand="block" [color]="calendar.mode == 'month' ? 'primary' : 'secondary'" (click)="changeMode('month')">Month</ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button small expand="block" [color]="calendar.mode == 'week' ? 'primary' : 'secondary'" (click)="changeMode('week')">Week</ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button small expand="block" [color]="calendar.mode == 'day' ? 'primary' : 'secondary'" (click)="changeMode('day')">Day</ion-button>
    </ion-col> -->
 
    <!-- Move back one screen of the slides -->
    <ion-col size="3" class="ion-tex-left">
      <ion-button fill="clear" small (click)="back()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="6" class="ion-text-center">
      <ion-button small fill="clear" >
        {{ viewTitle }}
      </ion-button>
    </ion-col>

    <!-- Move forward one screen of the slides -->
    <ion-col size="3" class="ion-text-right">
      <ion-button small fill="clear" (click)="next()">
        <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <calendar 
  [eventSource]="eventSource" 
  [calendarMode]="calendar.mode" 
  [currentDate]="calendar.currentDate"
  (onEventSelected)="onEventSelected($event)"
  (onTitleChanged)="onViewTitleChanged($event)"
  (onTimeSelected)="onTimeSelected($event)" 
  startHour="6"
  endHour="20"
  step="30"
  startingDayWeek="1">
  </calendar>

  
</ion-content>
