<ion-header>
  <ion-toolbar color="primary">
    <ion-title></ion-title>
    <ion-buttons slot="end">
      <ion-button  (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>{{event.title}}</h1>
  <p *ngIf="event.start_date"><b>Start: </b> {{ formatToDate(event.start_date) }}</p>
  <p *ngIf="event.end_date"><b>End: </b> {{ formatToDate(event.end_date) }}</p>
  <p *ngIf="event.description"><b>Description: </b> {{event.description}}</p>
  <p *ngIf="event.location"><b>Location: </b> {{event.location}}</p>

  <ion-button color="secondary" (click)="editEvent()">
    Edit
  </ion-button>
</ion-content>
