<ion-content class="ion-padding">
  <h1 class="center">NEW ACCOUNT</h1>
  <form>
    <ion-list>
      <ion-item>
        <ion-label position="stacked">First Name</ion-label>
        <ion-input autocomplete="off" name="first_name" type="text" [(ngModel)]="postData.first_name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Last Name</ion-label>
        <ion-input autocomplete="off" name="last_name" type="text" [(ngModel)]="postData.last_name"></ion-input>
      </ion-item>
      <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input autocomplete="off" name="email" type="text" [(ngModel)]="postData.email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Birthday</ion-label>
        <ion-datetime [(ngModel)]="postData.unformatted_date" name="unformatted_date" display-timezone="utc"></ion-datetime>
        <!-- <ion-input disabled autocomplete="off" name="email" type="text" [(ngModel)]="memberData.birth_date"></ion-input> -->
        </ion-item>
        
        <ion-item>
        <ion-label position="stacked">Relationship</ion-label>
        <ion-select placeholder="" name="rid" [(ngModel)]="postData.rid">
          <ion-select-option  *ngFor="let r of relationships" [value]="r.id">{{r.name}}</ion-select-option>
        </ion-select>
        
        </ion-item>
      
      <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input autocomplete="off" name="password" type="password" [(ngModel)]="postData.password"></ion-input>
      </ion-item>
      
    </ion-list>
    <ion-button expand="block" share="round" (click)="signupAction()" color="secondary">Create Account</ion-button>
    </form>
    <a routerLink="/login">Login</a>
</ion-content>
