<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title>PODCAST</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>
    <ion-col size="12" class="ion-text-center">
      <a target="_blank" href="https://podcasts.google.com/feed/aHR0cDovL3d3dy5tZXNzeXBhcmVudGluZy5vcmcvZmVlZC9wb2RjYXN0Lw">
        <img  src="/assets/images/listen_google.png">
      </a>
    </ion-col>
    <ion-col size="12"  class="ion-text-center">
      <a target="_blank" href="https://podcasts.apple.com/us/podcast/messy-parenting-catholic-conversations-on-marriage/id957216506?mt=2">
        <img src="/assets/images/listen_apple.png">
      </a>
    </ion-col>
  </ion-row>

</ion-content>
