<ion-content class="ion-padding">
  <h1 class="center">SIGN IN</h1>
  <form>
    <ion-list>
      <ion-item>
      <ion-label position="stacked">Username</ion-label>
      <ion-input autocomplete="off" type="text"></ion-input>
      </ion-item>
      
      <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input autocomplete="off" type="password"></ion-input>
      </ion-item>
      
    </ion-list>
    <ion-button expand="block" share="round" routerLink="/home/home" color="success">Login</ion-button>
    </form>
</ion-content>
