<ion-content class="ion-padding">
  <h1 class="center">SIGN IN</h1>
  <form>
    <ion-list>
      <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input autocomplete="off" name="email" type="text" [(ngModel)]="postData.email"></ion-input>
      </ion-item>
      
      <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input autocomplete="off" name="password" type="password" [(ngModel)]="postData.password"></ion-input>
      </ion-item>
      
    </ion-list>
    <ion-button expand="block" share="round" (click)="loginAction()" color="secondary">Login</ion-button>
    </form>
    <a routerLink="/signup" class="ion-text-center create-account">Create Account</a>
</ion-content>
