<ion-app>
  <ion-split-pane contentId="main">
    <!--  our side menu  -->
    <ion-menu contentId="main">
      <ion-header>
        <ion-toolbar class="sidemenu-title" color="primary">
          <ion-title class="ion-no-padding">the catholic family app</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content class="menu">
        <ion-list lines="none">
          <ion-menu-toggle class="menu-toggle" auto-hide="false" *ngFor="let p of appPages">
            <ion-item detail="false" routerLinkActive #rla="routerLinkActive" [color]="rla.isActive && 'gray'" [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-label [color]="rla.isActive ? 'pink' : 'dark-gray'">
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <!-- the main content -->
    <ion-router-outlet id="main"></ion-router-outlet>
  </ion-split-pane>

  <!-- <ion-router-outlet></ion-router-outlet> -->
</ion-app>
