.menu-toggle{
    ion-label {
        font-size: 12px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}
.sidemenu-title{
    ion-title {
        font-size: 14px;
    }
}
.splash-container{
    height: 150px; /* Can be anything */
    width: 150px; /* Can be anything */

    img{
        max-height: 100%;
        max-width: 100%;
        width: 25%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
}