.home {
    ion-list-header{
        ion-label {
            color: #4F4F4F;
            display: flex;
            align-items: center;
            span {
                font-size: 18px;
                margin-left: 20px;
            }
        }
    }

    .reminder { 
        margin: 5px !important;
        padding: 13px 0;
        h1 {
            font-size: 20px;
            font-weight: 200;
            padding-bottom: 5px;
        }
    }

    .interests {
        ion-card {
            margin: 0px !important;
        }
    }
}




