<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title>HOME</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="home ion-padding-horizontal">

  <ion-list-header>
    <ion-label color="medium"> <ion-icon  name="notifications-outline"></ion-icon> <span>REMINDERS</span></ion-label>
    <ion-button icon-only color="secondary" size="large" ><ion-icon size="large" name="add-circle"></ion-icon></ion-button>
  </ion-list-header> 

  <!-- <ion-card class="reminder">
    <ion-item lines="none">
      <ion-label color="primary">
        <h1>Special Time with Abby</h1>
        <p class="color-dark italic">Wednesday, Aug 21, 2019</p>
      </ion-label>
      <ion-button icon-only fill="clear" size="large" slot="end"><ion-icon color="secondary" name="chevron-forward-outline"></ion-icon></ion-button>
    </ion-item>
  </ion-card> -->
  <div *ngIf="latestEvents">
    <ion-card class="reminder" *ngFor="let event of latestEvents">
      <ion-item lines="none" >
        <ion-label color="primary">
          <h1>{{event.title}}</h1>
          <p class="color-dark italic">{{event.start_date | date}}</p>
        </ion-label>
        <ion-button icon-only fill="clear" size="large" slot="end" (click)="showEvent(event)"><ion-icon color="secondary" name="chevron-forward-outline"></ion-icon></ion-button>
      </ion-item>
    </ion-card>
  </div>
  
  

  <ion-list-header>
    <ion-label> <ion-icon  name="star-outline"></ion-icon> <span>TOP INTERESTS</span></ion-label>
  </ion-list-header> 

  <ion-grid class="interests">
    <ion-row>
      <ion-col>
        <ion-card routerLink="/home/interest-list/20">
          <ion-img src="https://via.placeholder.com/300x250"></ion-img>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card routerLink="/home/interest-list/21">
          <ion-img src="https://via.placeholder.com/300x250"></ion-img>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card routerLink="/home/interest-list/68">
          <ion-img src="https://via.placeholder.com/300x250"></ion-img>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card routerLink="/home/interest-list/102">
          <ion-img src="https://via.placeholder.com/300x250"></ion-img>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list-header>
    <ion-label color="medium"> <ion-icon  name="pulse-outline"></ion-icon> <span>NEW CONTENT</span></ion-label>
  </ion-list-header>

  <!-- <ion-card *ngFor="let post of posts">
    <ion-card-header>
      <ion-card-title [innerHTML]="post.title.rendered"></ion-card-title>
      <ion-card-subtitle>{{ post.date_gmt | date }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <img [src]="post.media_url">
      <div [innerHTML]="post.excerpt.rendered"></div>
      <ion-button expand="full" fill="clear" [routerLink]="['/home/', 'blog', post.id]" text-right>Read More...</ion-button>
    </ion-card-content>
  </ion-card> -->
  <app-blog-thumbnails *ngFor="let post of posts" [post]="post" (postClicked)="viewPost($event)"></app-blog-thumbnails>
  <!-- <app-blog-thumbnails></app-blog-thumbnails>
  <app-blog-thumbnails></app-blog-thumbnails>
  <app-blog-thumbnails></app-blog-thumbnails> -->
</ion-content>
