<ion-header class="profile-header">
  <!-- <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title>PROFILES</ion-title>
  </ion-toolbar> -->
  <ion-toolbar color="primary">
    <ion-grid>
      <ion-row>
        <ion-col size="2">
          <ion-avatar>
            <img src="https://via.placeholder.com/500">
          </ion-avatar>
        </ion-col>
        <ion-col class="ion-text-left profile-name">
          <ion-label>
            <h1 *ngIf="user">{{user.FirstName}} <ion-icon name="caret-down-outline" color="light"></ion-icon></h1>
            <p>Spouse</p>
          </ion-label>
          
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile">
    <ion-list-header>
      <ion-label color="medium"> <ion-icon name="person-outline"></ion-icon> <span>PROFILE</span></ion-label>
    </ion-list-header> 

    <ion-list *ngIf="user">
      <ion-item >
        <ion-label>Name</ion-label>
        <ion-text slot="end" color="primary">{{user.FirstName}} {{user.LastName}}</ion-text>
      </ion-item>

      <ion-item >
        <ion-label>Birthday</ion-label>
        <ion-text slot="end" color="primary">Jan. 19, 1972</ion-text>
      </ion-item>

      <ion-item >
        <ion-label>Special Dates</ion-label>
        <ion-text slot="end" color="primary">MM.DD.YY</ion-text>
      </ion-item>

      <ion-item >
        <ion-label>Personality Type</ion-label>
        <ion-text slot="end" color="primary">xxx</ion-text>
      </ion-item>

      <ion-item > 
        <ion-label>
          Favorites
          <p>
            Read Wine - Bella
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <div class="family">
    <ion-list-header>
      <ion-label color="medium"> <ion-icon name="people-outline"></ion-icon> <span>Family Members</span></ion-label>
    </ion-list-header> 

    <ion-list>
      <ion-item >
        <ion-label>Jess Doe</ion-label>
        <ion-text slot="end">Spouse</ion-text>
      </ion-item>
      <ion-item >
        <ion-label>Christy Doe</ion-label>
        <ion-text slot="end">Daughter</ion-text>
      </ion-item>
      <ion-item >
        <ion-label>Agnes Doe</ion-label>
        <ion-text slot="end">Daughter</ion-text>
      </ion-item>
      <ion-item >
        <ion-label>Lucas Doe</ion-label>
        <ion-text slot="end">Son</ion-text>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
